.navbar {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 0 !important;
    height: 5rem;
}

.navbar-brand {
    font-weight: 800;
    letter-spacing: 0.01em;
    color: #68717abd !important;
    font-size: 1.2rem;
}

.navbar-brand {
    color: #68717abd !important;
    font-size: 1.2rem;
}

.navbar-brand:focus,
.nav-link-recipes:focus,
.nav-link.active {
    color: #68717abd !important;
}


.navbar-brand:hover,
.nav-link-recipes:hover {
    color:#68717A !important;
}

.profile-icon {
    font-size:1.3rem;
    color: #68717abd;
}

/* .profile-icon:hover {
    color: #FFA835 !important;
} */

.dropdown-toggle::after {
    content: none !important;
}

.dropdown-toggle {
    padding: 0 !important;
}

.nav-link-recipes {
    align-self:center;
    font-size: .9rem;
    font-weight: 600;
    color: #68717abd;
}
